################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Build
/.vs
/Logs
/obj
/Temp
/Library
